extends layout

block content
  h1= title
  p Welcome to #{title}
  p This Class will forcus on Jenkins and Github Actions
  p We will learn more by practice
  p We just made a chnage to see what happens! 
  p We just concluded CICD 
  p We developed Jenkins Pipeline 
  p We also develop github actions pipeline as well